<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>breqwatr - Github Search</title>
    <link type="text/css" rel="stylesheet" href="stylesheet/base.css"/>

    <!-- Links for Roboto and Ubuntu font from Google font API -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<header>
    {% include "header.html" %}
</header>

<div class="container">
    <div class="page-header">
        <h1><a href="https://breqwatr.com/">
            <span id="breq">breq</span><span id="watr">watr</span></a> Interview Assignment
        </h1>
    </div>
    {% block content %}
    {% endblock %}
</div>

<footer>
    {% include "footer.html" %}
</footer>

{% include "jslibraries.html" %}

</body>
</html>