{% extends 'base.html' %}
{% block content %}
    <h2>Github User Search</h2>
    <p class="lead">
        Search Github Users by their <code>username</code>
    </p>

    <form role="form" method="POST" id="advancedSearch" name="advancedSearch">
        <fieldset class="form-group">
            <label for="exampleSelect1">Search</label>
            <select class="form-control" id="searchCategory" name="selectCategory">
                <option id="username-option">Username</option>
                <option id="user-option">Users</option>
                <option id="repo-option">Repositories</option>
                <option id="code-option">Codes</option>
                <option id="issue-option">Issues</option>
            </select>
        </fieldset>

        {% include "search-username.html" %}

        {% include "search-users.html" %}

        {% include "search-repo.html" %}

        {% include "search-code.html" %}

        {% include "search-issue.html" %}

        <button type="submit" class="btn btn-primary" id="search">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
{% endblock %}