{% extends 'base.html' %}
{% block content %}
    <h2>Github User Search</h2>
    <p class="lead">
        Search Github Users by their <code>username</code>
    </p>

    <form role="form" method="POST" id="advancedSearch">
        <fieldset class="form-group">
            <label for="formGroupExampleInput">Search Username</label>
            <input type="username" class="form-control" id="username" name="username">
        </fieldset>
        <button type="submit" class="btn btn-primary" id="search">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
{% endblock %}