<div id="codeAdvanced">
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Keywords Search</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="keywordCode">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="repoNameCode">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Owner</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="repoOwnerCode">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Specific Language</label>
        <input type="text" class="form-control" name="languageCode">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Filename</label>
        <input type="text" class="form-control" name="filenameCode">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Size (Minimum in KB)</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="repoSizeCode">
    </fieldset>
</div>