<div id="repoAdvanced">
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Keywords Search</label>
        <input type="text" class="form-control" name="keywordRepo">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Name</label>
        <input type="text" class="form-control" name="repoName">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Repository Owner</label>
        <input type="text" class="form-control" name="repoOwner">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Stars</label>
        <input type="text" class="form-control" name="minStar">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Size (Minimum in KB)</label>
        <input type="text" class="form-control" name="repoSize">
    </fieldset>
    <fieldset class="form-group">
        <label for="formGroupExampleInput">Forks (Minimum)</label>
        <input type="text" class="form-control" name="forkNum">
    </fieldset>
</div>